
/*
--AZUL: #201b2c;
--VERDE: #77ffc0;
--AZUL-ESBRANQUECIDO: #2f2841;
--VERDINHO: #00ff88;
*/
.root{
    -fx-background-image: url("../img/lampadas.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: 'Poppins', sans-serif;
    
}
.hbox{
    -fx-alignment: center;
    -fx-padding: 50px;
}
.fundo-login{
    -fx-background-image: url('../img/borrado.jpg');
    -fx-background-position: center;
    -fx-background-size: cover;
}
.aaa{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-padding: 80;
    -fx-alignment: center;
    -fx-spacing: 40;
}
.titulo-login{
    -fx-text-fill: #201b2c;
    -fx-font-size: 36;
    -fx-font-weight: 800;
}
.card-login{
    -fx-background-color: #2f2841;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-color: rgb(255, 255, 255, 0.5);
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-padding: 80;
    -fx-alignment: center;
    -fx-spacing: 40;
}
.tf-login2{
    -fx-text-fill: #201b2c;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
    -fx-border-style: solid;
    -fx-border-color: #201b2c;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-pref-height: 50;
    -fx-padding: 0 20;
}
.lb-login-cadastro{
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
}
.btn-login-cadastro{
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
    -fx-font-weight: 800;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-cursor: hand;
}
.vb-tf-login{
    -fx-spacing: 20;
}
.btn-login2{
    -fx-background-color: #201b2c;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 480;
    -fx-pref-height: 50;
    -fx-font-size: 18px;
    -fx-font-weight: 800;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
.btn-login2:hover{
    -fx-background-color: #2f2841;
    -fx-effect: dropshadow(gaussian, #514869, 10, 0, 0, 3);
}
.vb-btn-login{
    -fx-alignment: top-center;
    -fx-spacing: 20;
}
.lb-msg-erro{
    -fx-text-fill: red;
    -fx-font-size: 16px;
    -fx-font-weight: 800;
}
.lb{
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 18px;
}
.titulo{
    -fx-text-fill: #77ffc0;
    -fx-font-size: 36px;
    -fx-font-weight: 800;
}
.tf{
    -fx-background-color: #514869;
    -fx-background-radius: 3px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-text-fill: #f0ffffde;   
}
.tf:focused{
    -fx-border-color: #f0ffffde;
}
/*TEXTAREA*/
.ta{
    -fx-background-color: #514869;
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
}
.ta .content{
    -fx-background-color: #514869;
    -fx-border-color: #201b2c;
   
}
.ta:focused .content{
    -fx-border-color: white;
}
/**/
.tf-login{
    -fx-font-size: 18px;
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
}
.btn{
    -fx-background-color: #77ffc0;
    -fx-text-fill: #2b134b;
    -fx-font-weight: 800;
    -fx-border-color: #77ffc0;
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: #00ff88;
    -fx-effect: dropshadow(gaussian, #00ff8856, 20, 0, 0, 6);
}
/*BOTOES CRUD*/
.btn-crud{
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: 800;
    -fx-cursor: hand;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}
.btn-crud-icone{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
}
.btn-create{
    -fx-background-color: #5cb85c;
}
.btn-read{
    -fx-background-color: #3399FF;
}
.btn-update{
    -fx-background-color: #f0ad4e;
}
.btn-delete{
    -fx-background-color: #d9534f;
}
.btn-explorar{
    -fx-background-color: #f0ffffde;
    -fx-cursor: hand;
}
.btn-explorar1:hover{
    -fx-background-color: #77ffc0;
}
.btn-explorar2:hover{
    -fx-background-color: #3399FF;
}
.btn-explorar3:hover{
    -fx-background-color: #5cb85c;
}
.btn-logout{
    -fx-cursor: hand;
    -fx-background-color: #201b2c;
}
/**/
.btn-login{
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
}
.btn-perfil{
    -fx-background-color: #77ffc0;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: #77ffc0;

}
.btn-perfil:hover{
    -fx-background-color: #00ff88;
    -fx-effect: dropshadow(gaussian, #00ff8856, 20, 0, 0, 6);
}
.btn-voltar{
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
}
.btn-perfil-menu{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color:rgba(255, 255, 255, 0.500);
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
    -fx-cursor: hand;
    
}.menu-button{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color:rgba(255, 255, 255, 0.500);
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
    -fx-cursor: hand;
    -fx-graphic: null;
}
.menu-button > .arrow-button
,.menu-button > .label {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.BarraMenu{
    -fx-background-color: #201b2c;
    -fx-alignment: center;
    -fx-spacing: 200;
    -fx-padding: 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}
#dashboard-root{
    -fx-background-color: #201b2c;
    -fx-font-family: 'Roboto', sans-serif;
}
.menu-lateral{
    -fx-background-color: #201b2c;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}
.barra-pesquisa{
    -fx-background-color: #514869;
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
    -fx-border-color: rgba(255, 255, 255, 0.500);
    -fx-background-radius: 8px 0 0 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px 0 0 8px;
}
.icone-pesquisa{
    -fx-background-color: #201b2c;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color:rgba(255, 255, 255, 0.500);
    -fx-background-radius: 0 8px 8px 0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 0 8px 8px 0;
    -fx-cursor: hand;
}
.hb3{
    -fx-spacing: 37;
}
.btn-menu-lateral{
    /*-fx-background-color: #201b2c;
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #f0ffffde;
    */
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
    -fx-border-width: 0;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-style: solid;
    /*-fx-border-color: rgb(255, 255, 255, 0.2);*/
    -fx-border-color: rgb(0, 0, 0);
}
.pane-abainicio{
    -fx-background-color: #201b2c;
}
.pane-aba2{
    -fx-background-color: #201b2c;
}
.tf-projeto-solucao{
    -fx-font-size: 16px;
}
.fundo-titulo{
    -fx-background-color: #514869;
    -fx-spacing: 10px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
.tbv{
    -fx-background-color: transparent;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: rgb(255, 255, 255, 0.2);
    -fx-text-fill: #f0ffffde;
}
.tbv:focused{
    -fx-background-color: transparent;
}
.tbv .column-header-background{
    -fx-background-color: #514869;
    -fx-border-radius: 8px 8px 0 0;
    -fx-background-radius: 8px 8px 0 0;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}

.tbv .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 10px;
}

.tbv .column-header {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}
.tb-hbox{
    -fx-alignment: center-left;
    -fx-spacing: 15px;
}
.tbv .table-cell{
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
}
.table-row-cell,
.table-column,
.table-column-header {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.table-row-cell{
    -fx-background-color: #201b2c;
    -fx-pref-height: 80px;
}

.table-row-cell:odd{
    -fx-background-color: #201b2c;  
}

.table-row-cell:selected {
    -fx-background-color: #2f2841;
}
/*SEÇAO PROJETOS*/
.mostra-projeto{
    -fx-pref-width: 850px;
    -fx-background-color: #2f2841;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: rgb(255, 255, 255, 0.2);
    -fx-text-fill: #f0ffffde;
    -fx-padding: 10px;
    -fx-spacing: 20px;
}
.secao-projeto{
    -fx-spacing: 40px;
    -fx-padding: 50px;
    -fx-alignment: center;
    
}
.btn-projeto{
    -fx-alignment: center-right;
}
.usuario-perfil{
    -fx-alignment: top-center;
    -fx-spacing: 3px;
}
.user-lb{
    -fx-font-size: 14px;
    -fx-text-fill: #f0ffffde;
    -fx-font-weight: 600;
    -fx-wrap-text: true;
    -fx-text-alignment: CENTER;
}
.projeto-lb{
    -fx-font-size: 24px;
    -fx-text-fill: #f0ffffde;
    -fx-font-weight: 800;
}
.projeto-box{
    -fx-spacing: 20px;
}
.btn-crud-secao-projeto{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-pref-width: 130px;
    -fx-pref-height: 60px;
}
.sp > .viewport{
    -fx-background-color: #201b2c;
}