
/*
--AZUL: #201b2c;
--VERDE: #77ffc0;
--AZUL-ESBRANQUECIDO: #2f2841;
--VERDINHO: #00ff88;
*/
.root{
    -fx-background-image: url("../img/13403524_5238994.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: 'Roboto', sans-serif;
    
}
.hbox{
    -fx-alignment: center;
    -fx-padding: 50px;  
    
}
.card-login{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: rgb(255, 255, 255, 0.2);
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
}
.lb{
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 18px;
}
.titulo{
    -fx-text-fill: #77ffc0;
    -fx-font-size: 36px;
    -fx-font-weight: 800;
}
.tf{
    -fx-background-color: #514869;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 18px;
}
.btn{
    -fx-background-color: #77ffc0;
    -fx-text-fill: #2b134b;
    -fx-font-weight: 800;
    -fx-border-color: #77ffc0;
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: #00ff88;
    -fx-effect: dropshadow(gaussian, #00ff8856, 20, 0, 0, 6);
}
.btn-login{
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
}
.btn-perfil{
    -fx-background-color: #77ffc0;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: #77ffc0;

}
.btn-perfil:hover{
    -fx-background-color: #00ff88;
    -fx-effect: dropshadow(gaussian, #00ff8856, 20, 0, 0, 6);
}
.btn-voltar{
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
}
.btn-perfil-menu{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color:rgba(255, 255, 255, 0.500);
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
    -fx-cursor: hand;
    
}.menu-button{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color:rgba(255, 255, 255, 0.500);
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
    -fx-cursor: hand;
    -fx-graphic: null;
}
.menu-button > .arrow-button
,.menu-button > .label {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.BarraMenu{
    -fx-background-color: #201b2c;
    -fx-alignment: center;
    -fx-spacing: 200;
    -fx-padding: 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}
#dashboard-root{
    -fx-background-color: #201b2c;
    -fx-font-family: 'Roboto', sans-serif;
}
.menu-lateral{
    -fx-background-color: #201b2c;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}
.barra-pesquisa{
    -fx-background-color: #514869;
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 16px;
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
    -fx-border-color: rgba(255, 255, 255, 0.500);
    -fx-background-radius: 8px 0 0 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px 0 0 8px;
}
.icone-pesquisa{
    -fx-background-color: #201b2c;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color:rgba(255, 255, 255, 0.500);
    -fx-background-radius: 0 8px 8px 0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 0 8px 8px 0;
    -fx-cursor: hand;
}
.hb3{
    -fx-spacing: 37;
}
.btn-menu-lateral{
    -fx-background-color: #201b2c;
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #f0ffffde;
    -fx-border-width: 0 0 1 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-color: rgb(255, 255, 255, 0.2);
}
.pane-aba1{
    -fx-background-color: white;
}
.pane-aba2{
    -fx-background-color: #00ff88;
}
.pane-aba3{
    -fx-background-color: gray;
}
.pane-aba4{
    -fx-background-color: #514869;
}