
/*
--AZUL: #201b2c;
--VERDE: #77ffc0;
--AZUL-ESBRANQUECIDO: #2f2841;
--VERDINHO: #00ff88;
*/
.root{
    -fx-background-image: url("../img/13403524_5238994.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: 'Roboto', sans-serif;
    
}
.hbox{
    -fx-alignment: center;
    -fx-padding: 50px;  
    
}
.card-login{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: rgb(255, 255, 255, 0.2);
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
}
.lb{
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 18px;
}
.titulo{
    -fx-text-fill: #77ffc0;
    -fx-font-size: 36px;
    -fx-font-weight: 800;
}
.tf{
    -fx-background-color: #514869;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
    -fx-text-fill: #f0ffffde;
    -fx-font-size: 18px;
}
.btn{
    -fx-background-color: #77ffc0;
    -fx-text-fill: #2b134b;
    -fx-font-weight: 800;
    -fx-border-color: #77ffc0;
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: #00ff88;
    -fx-effect: dropshadow(gaussian, #00ff8856, 20, 0, 0, 6);
}
.btn-login{
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
}
.btn-perfil{
    -fx-background-color: #77ffc0;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: #77ffc0;

}
.btn-perfil:hover{
    -fx-background-color: #00ff88;
    -fx-effect: dropshadow(gaussian, #00ff8856, 20, 0, 0, 6);
}
.btn-voltar{
    -fx-background-radius: 100%;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 100%;
}
